html{
    font-family: 'Roboto', sans-serif !important;
}

#navbar{
    background-color: none !important;
    color: white;
}
body{
    background: hsla(216, 18%, 16%, 1);

background: linear-gradient(180deg, hsla(216, 18%, 16%, 1) 0%, hsla(217, 10%, 25%, 1) 100%);

background: -moz-linear-gradient(180deg, hsla(216, 18%, 16%, 1) 0%, hsla(217, 10%, 25%, 1) 100%);

background: -webkit-linear-gradient(180deg, hsla(216, 18%, 16%, 1) 0%, hsla(217, 10%, 25%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#222831", endColorstr="#393E46", GradientType=1 );

}
h2{
    color:#EEEEEE;
}   
.nav-link, .navbar-brand{
    color: #EEEEEE !important;
}

.portions{
    height: 100%;
    display:flex;
    flex-direction: column;
}

.input-box{
    display: flex;
    flex-direction: column;
}
.td{
    color: #EEEEEE;
}
.submit {
    background-color: #00ADB5; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}
.mytext{
    width:300px;
    height: 45px;
    border-radius: 10px;
    background-color: #393E46;
    color:#EEEEEE;
    border: solid 1px #00ADB5;
}

#mic-button, #mic-button img{
    background-color: transparent;
    height: 50px;
    width: 45px;
    border: none;
}