html {
    font-family: 'Open Sans', sans-serif;
}

#navbar {
    background-color: none !important;
    color: white;
}

body {
    background: hsla(219, 7%, 48%, 1);

background: linear-gradient(90deg, hsla(219, 7%, 48%, 1) 0%, hsla(217, 19%, 14%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(219, 7%, 48%, 1) 0%, hsla(217, 19%, 14%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(219, 7%, 48%, 1) 0%, hsla(217, 19%, 14%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#737984", endColorstr="#1C2129", GradientType=1 );

}

h2 {
    color: #EEEEEE;
}

.nav-link,
.navbar-brand {
    color: #EEEEEE !important;
}

.portions {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.td {
    color: #EEEEEE;
}

.submit {
    background-color: #00ADB5;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.mytext {
    width: 300px;
    height: 45px;
    border-radius: 10px;
    background-color: #393E46;
    color: #EEEEEE;
    border: solid 1px #00ADB5;
}

#mic-button,
#mic-button img {
    background-color: transparent;
    height: 50px;
    width: 45px;
    border: none;
}

.box {
    float: left;
    margin-right: 20px;
}

.clear {
    clear: both;
}

#entered-text {
    border: solid 1px #00ADB5;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    padding: auto;
    margin: auto;
    font-size: 30px;
}

.brand-name{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px !important;
    
}

.navbar-link{
    font-family: 'Bebas Neue', cursive;
    font-size: 40px !important;
    margin-right: 10px;
    margin-left: 10px;
}

.heading-text{
    color:#eeeeee;
    font-size:20px;
}

#list{
    border: solid 1px #00ADB5;
    border-radius:10px;
    width:100%;
    height:100px;
    padding:auto;
    margin:auto;    
}
#list1{
    border: solid 1px #00ADB5;
    border-radius:10px;
    width:420px;
    height:340px;
    padding:10px;
    padding-bottom: 10px;
    margin:10px;    
}

.thank-you{
    color: #eeeeee;
    font-size: 20px;
}