{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center flex-column align-items-center">

	<div class="container d-flex flex-row justify-content-evenly">
		<div class= 'left d-flex flex-column align-items-center
			justify-content-center'>

			<h2>JUST THE BEGINNING </h2>
			<h2>KJSCE HACKATHON 6.0</h2>
		</div>
		<div class="right">
			<h2>Our Creator Team:</h2>
			<div class="td">
				<p>SANKET BHOSALE</li>
				<p>TANMAY TETE</p>
				<p>LUV ARORA</p>
				<p>RHITIK DOSHI</p>
			</div>
		</div>
	</div>
	<p class="thank-you">THANK YOU FOR VISITING OUR WEBSITE</p>

	<h2>CONTACT US</h2>
	<p class="td">For any queries regarding this website contact us on following:</p>
	<p class="td">Our Email ID: tanmay.tete@somaiya.edu</p>
	<p class="td">Contact number:7506556347</p>
</div>
{% endblock %}
